<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/layui.css">
    <script src="/assets/js/layui.js"></script>
</head>

<body>
    <ul class="layui-nav layui-bg-green">
        <li class="layui-nav-item layui-this"><a href="">会议室预约</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">我的预约</a>
        </li>
        <li class="layui-nav-item"><a href="">反馈</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right layui-bg-green" lay-bar="disabled">
        <li class="layui-nav-item">
        <li class="layui-nav-item" lay-unselect="">
            <a href="javascript:;">
                <img src="../../other/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                    tppabs="http://t.cn/RCzsdCq" class="layui-nav-img"></a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">子级菜单</a></dd>
                <dd><a href="javascript:;">横线隔断</a></dd>
                <hr>
                <dd style="text-align: center;"><a href="">退出</a></dd>
            </dl>
        </li>
    </ul>
</body>

</html>